@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;
@use 'styles/mixins' as *;

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  @include library-fluid(gap, grid-gap);

  @include desktop-screen {
    grid-template-columns: repeat($library-grid-columns, 1fr);
  }

  > .card-skeleton {
    background: var(--card-skeleton-gradient);
    background-size: var(--card-skeleton-size);
  }
}
