@use 'sass:list';
@use './styles/tokens' as *;
@use '../../../../styles/tokens' as *;

body.dialog-open {
  overflow: hidden;
}

.dialog-layout {
  opacity: 0;
  transform: scale(0);
  transition: $dialog-transition;
  border: none;
  background: transparent;
  overflow: auto;
  padding: 0 list.nth($dialog-card-shadow-offset, 1) list.nth($dialog-card-shadow-offset, 2) 0;

  &::backdrop {
    background-color: rgba($color-black, $backdrop-opacity-closed);
    transition: $backdrop-transition;
  }

  &.open {
    opacity: 1;
    transform: scale(1);

    &::backdrop {
      background-color: rgba($color-black, $backdrop-opacity-open);
    }

    @starting-style {
      opacity: 0;
      transform: scale(0);

      &::backdrop {
        background-color: rgba($color-black, $backdrop-opacity-closed);
      }
    }
  }
}
