@use '../../styles/mixins' as *;
@use 'styles/tokens' as *;
@use 'styles/functions' as *;
@use 'styles/mixins' as *;

.games-carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.games-carousel-header-title {
  display: flex;
  align-items: center;
  gap: $size-times-1;

  h2 {
    margin: 0;
    color: $color-on-primary;
    font-weight: $weight-bold;
    font-size: fluid($font-size-headline-medium, $font-size-headline-large, 768px, 1920px);
  }
}

.games-carousel-header-accent {
  display: inline-block;
  box-sizing: border-box;
  width: $size-times-1;
  height: fluid($size-times-1 * 3, $size-times-1 * 4, 768px, 1920px);
  background: $color-primary;
  border: 1.5px solid $color-on-primary;
  border-radius: $border-rad-extra-small;
}

.games-carousel-header-controls {
  display: flex;
  gap: $size-times-1 * 2;
}

.games-carousel-header-control--prev {
  @include carousel-nav-button(outline);
}

.games-carousel-header-control--next {
  @include carousel-nav-button(primary);
}
