// Motion
$dialog-transition: all 0.19s ease-out;
$backdrop-transition: background-color 0.4s ease-out;

// Opacity
$backdrop-opacity-closed: 0.1;
$backdrop-opacity-open: 0.5;

// Card frame
$dialog-card-border-width: 3px;
$dialog-card-shadow-offset: 8px 8px;
