@use 'sass:map';
@use '../../styles/tokens' as *;
@use 'styles/tokens' as *;
@use 'styles/mixins' as *;
@use 'styles/functions' as *;

.hero-content p {
  margin: 0;
  font-weight: $weight-medium;
  color: $color-on-bg;
  font-size: fluid(
    $font-size-label-medium,
    $font-size-body-small,
    $breakpoint-base,
    $breakpoint-wide
  );
  line-height: map.get($text-line-height, base);

  @media (min-width: $breakpoint-wide) {
    font-size: fluid(
      $font-size-body-small,
      $font-size-body-large,
      $breakpoint-wide,
      $breakpoint-desktop
    );
  }

  @include desktop-screen {
    line-height: map.get($text-line-height, desktop);
  }
}
