@use '../../../../../../styles/tokens' as *;
@use '../../../../../../styles/mixins' as *;

[data-header-visibility='always'] {
  @include header-visible-always;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.title-logo {
  @include header-logo-badge;
}

.title-wordmark {
  font-size: $font-size-headline-small;
  font-weight: $weight-bold;
  color: $color-on-primary;

  @include desktop-screen {
    font-size: $font-size-headline-medium;
  }
}
