@use '../../../../../../styles/tokens' as *;

.explore-links {
  h3 {
    margin: 0;
    color: $color-white;
    font-weight: $weight-bold;
    font-size: $font-size-label-extra-large;
  }

  a {
    color: $color-on-bg-footer;
    font-weight: $weight-regular;
    font-size: $font-size-label-large;
    text-decoration: none;
  }
}
