@use 'styles/tokens' as *;
@use 'styles/functions' as *;

.github-link > span {
  font-weight: $weight-regular;
  font-size: fluid($font-size-label-medium, $font-size-label-large, 375px, 768px);

  @media (min-width: 768px) {
    font-size: $font-size-label-large;
  }
}
