@use 'sass:map';
@use '../../styles/mixins' as *;
@use '../../styles/tokens' as *;
@use 'styles/tokens' as *;
@use 'styles/functions' as *;

.community-actions {
  display: flex;
  flex-direction: column;
  @include footer-community-actions;

  h3 {
    margin: 0;
    color: $color-white;
    font-weight: $weight-bold;
    font-size: $font-size-label-extra-large;
  }
}

.community-actions-buttons {
  display: flex;
  flex-direction: row;
  @include footer-community-actions;

  button {
    @include footer-community-icon;
    padding: 0;
  }

  img {
    $base: map.get($footer-frame, base);
    $wide: map.get($footer-frame, wide);
    $desktop: map.get($footer-frame, desktop);

    width: fluid(
      map.get($base, community-icon-glyph-size),
      map.get($wide, community-icon-glyph-size),
      $breakpoint-base,
      $breakpoint-wide
    );
    height: fluid(
      map.get($base, community-icon-glyph-size),
      map.get($wide, community-icon-glyph-size),
      $breakpoint-base,
      $breakpoint-wide
    );
    filter: brightness(0) invert(1);

    @media (min-width: $breakpoint-wide) {
      width: fluid(
        map.get($wide, community-icon-glyph-size),
        map.get($desktop, community-icon-glyph-size),
        $breakpoint-wide,
        $breakpoint-desktop
      );
      height: fluid(
        map.get($wide, community-icon-glyph-size),
        map.get($desktop, community-icon-glyph-size),
        $breakpoint-wide,
        $breakpoint-desktop
      );
    }
  }
}
