@use 'sass:map';
@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;
@use 'styles/tokens' as *;
@use 'styles/mixins' as *;
@use 'styles/functions' as *;

[data-header-visibility='desktop'] {
  @include header-visible-desktop;
}

nav[data-header-visibility='desktop'] {
  @include desktop-screen {
    display: flex;
    align-items: center;
    gap: fluid(
      map.get($nav-desktop-gap, base),
      map.get($nav-desktop-gap, desktop),
      $breakpoint-wide + 1,
      $breakpoint-desktop
    );
  }
}

nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: $font-size-body-medium;
  font-weight: $weight-medium;
  color: $color-on-bg;
  white-space: nowrap;
  @include reserve-link-hover-width;
}

nav[data-header-visibility='desktop'] a {
  @include desktop-screen {
    font-size: fluid(
      $font-size-body-small,
      $font-size-body-medium,
      $breakpoint-wide + 1,
      $breakpoint-desktop
    );
  }
}

nav a:first-child {
  font-weight: $weight-bold;
  color: $color-on-primary;
}

nav[data-header-visibility='desktop'] a:hover {
  font-weight: $weight-bold;
  text-decoration: underline;
  color: $color-tertiary;
}
