$game-details-dialog-frame: (
  base: (
    card-width: 100vw,
    card-max-width: 100%,
    card-padding: 0,
    card-gap: 0,
  ),
  wide: (
    card-width: 600px,
    card-max-width: 100%,
    card-padding: 0,
    card-gap: 0,
  ),
  desktop: (
    card-width: 600px,
    card-max-width: 100%,
    card-padding: 0,
    card-gap: 0,
  ),
);
