@use 'sass:map';
@use './styles/tokens' as *;
@use './styles/mixins' as *;
@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;
@use 'styles/functions' as *;

header {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 8px;
  background: $color-bg;
  border-bottom: 2px solid $color-on-primary;
  font-family: $font-family-primary;
  @include header-frame;
}

.header-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 8px;
}

.header-controls > * + * {
  margin-left: map.get($header-controls-gap, wide);
}

.header-controls > button[data-header-visibility='desktop'] {
  margin-left: fluid(
    map.get($header-controls-gap, compact),
    map.get($header-controls-gap, wide),
    $breakpoint-wide + 1,
    $breakpoint-desktop
  );
}

.header-controls > button[data-header-visibility='wide'] {
  margin-left: map.get($header-controls-gap, base);

  @include desktop-screen {
    margin-left: fluid(
      map.get($header-controls-gap, compact),
      map.get($header-controls-gap, base),
      $breakpoint-wide + 1,
      $breakpoint-desktop
    );
  }
}

.header-controls > button[data-header-visibility='mobile'] {
  margin-left: map.get($header-controls-gap, base);
}
