@use 'sass:map';
@use '../../styles/tokens' as *;
@use 'styles/tokens' as *;
@use 'styles/functions' as *;

.developer-cta-content > p:first-of-type {
  $base: map.get($developer-cta-frame, base);
  $wide: map.get($developer-cta-frame, wide);
  $desktop: map.get($developer-cta-frame, desktop);

  margin: 0;
  color: $color-on-bg;
  font-weight: $weight-regular;
  font-size: fluid(map.get($base, text-font-size), map.get($wide, text-font-size), 375px, 768px);

  @media (min-width: 768px) {
    font-size: fluid(
      map.get($wide, text-font-size),
      map.get($desktop, text-font-size),
      768px,
      1920px
    );
  }
}
