@use '../../../../../../../styles/tokens' as *;
@use '../../../../../../../styles/mixins' as *;

.leaderboard-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: $size-times-1;

  @include wide-screen {
    grid-template-columns: repeat(5, 1fr);
  }

  @include desktop-screen {
    grid-template-columns: repeat(6, 1fr);
  }
}

.leaderboard-cell {
  display: flex;
  align-items: center;
}
