@use 'sass:map';
@use './styles/tokens' as *;
@use './styles/mixins' as *;
@use '../../../../../styles/tokens' as *;
@use '../../../../../styles/mixins' as *;
@use 'styles/functions' as *;

.games-carousel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: fluid($size-times-1 * 2, $size-times-1 * 3, $breakpoint-base, $breakpoint-wide);
  @include carousel-section-padding;

  @media (min-width: $breakpoint-wide) {
    gap: fluid($size-times-1 * 3, $size-times-1 * 5, $breakpoint-wide, $breakpoint-desktop);
  }
}

// Slide transition

:root {
  view-transition-name: none;
}

::view-transition {
  pointer-events: none;
}

::view-transition-group(*) {
  animation-duration: map.get($carousel-slide-transition, duration);
  animation-timing-function: map.get($carousel-slide-transition, easing);
}

::view-transition-old(*),
::view-transition-new(*) {
  height: 100%;
  object-fit: none;
  overflow: clip;
}
