@use './styles/tokens' as *;
@use './styles/mixins' as *;
@use '../../../../../styles/tokens' as *;
@use '../../../../../styles/mixins' as *;
@use 'styles/functions' as *;

.games-carousel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: fluid($size-times-1 * 2, $size-times-1 * 3, 375px, 768px);
  @include carousel-section-padding;

  @media (min-width: 768px) {
    gap: fluid($size-times-1 * 3, $size-times-1 * 5, 768px, 1920px);
  }
}
