@use 'sass:map';
@use './styles/tokens' as *;
@use './styles/mixins' as *;
@use '../../../../../styles/tokens' as *;
@use '../../../../../styles/mixins' as *;
@use 'styles/functions' as *;

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  @include leaderboard-section-padding;
}

.leaderboard-heading-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $size-times-1;
  align-self: stretch;
}

.leaderboard-accent-bar {
  box-sizing: border-box;
  flex: none;
  width: $size-times-1;
  height: fluid(
    map.get(map.get($leaderboard-frame, base), accent-bar-height),
    map.get(map.get($leaderboard-frame, wide), accent-bar-height),
    $breakpoint-base,
    $breakpoint-wide
  );
  background: $color-primary;
  border: $border-width-standard solid $color-on-primary;
  border-radius: $border-rad-extra-small;

  @media (min-width: $breakpoint-wide) {
    height: fluid(
      map.get(map.get($leaderboard-frame, wide), accent-bar-height),
      map.get(map.get($leaderboard-frame, desktop), accent-bar-height),
      $breakpoint-wide,
      $breakpoint-desktop
    );
  }
}

.leaderboard-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  overflow: hidden;
  background: $color-white;
  @include leaderboard-frame;
}

.leaderboard-heading {
  margin: 0;
  color: $color-on-primary;
  font-weight: $weight-bold;
  font-size: fluid(
    map.get(map.get($leaderboard-frame, base), heading-font-size),
    map.get(map.get($leaderboard-frame, wide), heading-font-size),
    $breakpoint-base,
    $breakpoint-wide
  );

  @media (min-width: $breakpoint-wide) {
    font-size: fluid(
      map.get(map.get($leaderboard-frame, wide), heading-font-size),
      map.get(map.get($leaderboard-frame, desktop), heading-font-size),
      $breakpoint-wide,
      $breakpoint-desktop
    );
  }
}

.leaderboard-cell[data-leaderboard-visibility='wide-and-up'] {
  display: none;

  @include wide-screen {
    display: flex;
  }
}

.leaderboard-cell[data-leaderboard-visibility='desktop-only'] {
  display: none;

  @include desktop-screen {
    display: flex;
  }
}

.leaderboard-row[data-leaderboard-visibility='desktop-only'] {
  display: none;

  @include desktop-screen {
    display: grid;
  }
}

.leaderboard-label[data-leaderboard-visibility='short-label'] {
  display: inline;

  @include desktop-screen {
    display: none;
  }
}

.leaderboard-label[data-leaderboard-visibility='long-label'] {
  display: none;

  @include desktop-screen {
    display: inline;
  }
}
