@use 'sass:map';
@use 'tokens' as *;

@mixin wide-screen {
  @media (min-width: 376px) {
    @content;
  }
}

@mixin desktop-screen {
  @media (min-width: 769px) {
    @content;
  }
}

%outline-box {
  box-sizing: border-box;
  border: 2px solid $color-on-primary;
}

@mixin button-variant-colors($variant) {
  $values: map.get($button-variants, $variant);

  @extend %outline-box;
  background-color: map.get($values, bg);
  color: $color-on-primary;

  &:hover {
    background-color: map.get($values, bg-hover);
  }
}
