@use 'sass:map';
@use 'sass:math';
@use '../../styles/tokens' as *;
@use 'styles/tokens' as *;
@use 'styles/functions' as *;

$carousel-card-border-width: map.get(map.get($carousel-frame, base), card-border-width);

.games-carousel-card-info {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $size-times-1 * 2;
  color: $color-white;
  background: $card-info-overlay-gradient;

  @supports (view-transition-group: nearest) {
    view-transition-name: match-element;
    view-transition-class: games-carousel-card-info;
    view-transition-group: nearest;

    h3,
    .games-carousel-card-rating {
      view-transition-name: match-element;
      view-transition-class: games-carousel-card-info-start;
      view-transition-group: nearest;
    }

    .games-carousel-card-likes {
      view-transition-name: match-element;
      view-transition-class: games-carousel-card-info-end;
      view-transition-group: nearest;
    }
  }

  h3 {
    margin: 0 0 $size-times-1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: $weight-bold;
    font-size: $font-size-body-large;
  }
}

.games-carousel-card-meta {
  display: flex;
  justify-content: space-between;
  font-weight: $weight-bold;
  font-size: fluid(
    $font-size-label-medium,
    $font-size-label-large,
    $breakpoint-base,
    $breakpoint-wide
  );

  @media (min-width: $breakpoint-wide) {
    font-size: fluid(
      $font-size-label-large,
      $font-size-label-extra-large,
      $breakpoint-wide,
      $breakpoint-desktop
    );
  }
}

.games-carousel-card-rating,
.games-carousel-card-likes {
  display: flex;
  align-items: center;
  gap: math.div($size-times-1, 2);
}

.games-carousel-card-icon {
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.games-carousel-card-icon--star {
  background-color: $color-primary;
  mask-image: url('/icons/star.svg');
  -webkit-mask-image: url('/icons/star.svg');
}

.games-carousel-card-icon--heart {
  background-color: $color-like;
  mask-image: url('/icons/heart.svg');
  -webkit-mask-image: url('/icons/heart.svg');
}

@container (min-width: #{$card-info-visible-threshold - $carousel-card-border-width * 2}) {
  .games-carousel-card-info {
    visibility: visible;
  }
}

[data-slot-role='focus'] .games-carousel-card-info {
  visibility: visible;
}
