@use '../../../../../../../styles/tokens' as *;

.games-carousel-card-info {
  display: none;
  padding: $size-times-1;
}

.games-carousel-card-meta {
  display: flex;
  justify-content: space-between;
}

@container (min-width: 287.5px) {
  .games-carousel-card-info {
    display: block;
  }
}
