@use '../../../../../../../styles/tokens' as *;
@use '../../../../../../../styles/mixins' as *;

.leaderboard-player-cell {
  display: flex;
  align-items: center;
  gap: $size-times-1;
}

.leaderboard-player-avatar {
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  color: $color-on-primary;
  font-weight: $weight-bold;
  @include leaderboard-avatar;
}
