@use 'sass:map';
@use '../../styles/tokens' as *;
@use 'styles/tokens' as *;
@use 'styles/mixins' as *;
@use 'styles/functions' as *;

.hero-content h2 {
  margin: 0;
  font-weight: $weight-bold;
  color: $color-on-primary;
  font-size: fluid(
    $font-size-display-small,
    $font-size-display-medium,
    $breakpoint-base,
    $breakpoint-wide
  );
  line-height: map.get($heading-line-height, base);

  @include wide-screen {
    line-height: map.get($heading-line-height, wide);
  }

  @media (min-width: $breakpoint-wide) {
    font-size: fluid(
      $font-size-display-medium,
      $font-size-display-large,
      $breakpoint-wide,
      $breakpoint-desktop
    );
  }

  @include desktop-screen {
    line-height: map.get($heading-line-height, desktop);
  }
}
